<div id="page">
    <div id="supplier">
        <address>
            <strong>{{ Customer.CompanyName }}</strong><br/>
            {{ Customer.Adress1 }}<br/>
            {% if (Customer.Adress2 != '') %}
                {{ Customer.Adress2 }}<br/>
            {% endif %}
            {{ Customer.PostalCode }} {{ Customer.City }}<br/>
            {{ Customer.Country }}
        </address>
    </div>
    <div id="customer">
        <address>
            PRINTBOX<br/>
            ZAC FREJORGUES OUEST<br/>
            34130 MAUGUIO
        </address>
    </div>
    <div id="main">
        <dl>
            <dt>Facture n° : </dt>
            <dd>{{ InvoiceNumber }}</dd>
            <dt>Date : </dt>
            <dd>{{ InvoiceDate }}</dd>
        </dl>
        <div id="order">
            <table>
                <thead>
                <tr>
                    <th>Désignation</th>
                    <th>Montant H.T.</th>
                </tr>
                </thead>
                <tbody>

                {% set total_ht = 0 %}

                {% for i, Line in SupplierInvoiceLines %}

                    <tr class="order">
                        <td>
                            <article>
                                {{ Line.Title }}
                            </article>

                        </td>
                        <td class="money">{{ Line.ETAmount|number_format(2, ',', ' ') }}
                            <span class="currency">&euro;</span>
                        </td>
                    </tr>

                    {% set total_ht = total_ht + Line.ETAmount %}
                {% endfor %}

                <tr class="order">
                    <td>Total H.T.</td>
                    <td class="money">{{ total_ht|number_format(2, ',', ' ') }} <span class="currency">&euro;</span></td>
                </tr>

                <tr class="order">
                    <td>TVA </td>
                    <td class="money">{{ VATAmount|number_format(2, ',', ' ') }} <span class="currency">&euro;</span></td>
                </tr>

                {% if Deduction %}
                    <tr class="order">
                        <td>Précompte </td>
                        <td class="money">{{ Deduction.ETAmount|number_format(2, ',', ' ') }} <span class="currency">&euro;</span></td>
                    </tr>
                {% endif %}

                <tr class="order">
                    <td>Net à payer</td>
                    <td class="money">{{ ATIAmount|number_format(2, ',', ' ') }} <span class="currency">&euro;</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if (VATAmount == 0) %}
        <div><strong>TVA non applicable, art. 293B du C.G.I.</strong></div>
    {% endif %}

    <div>Facture établie au nom et pour le compte de {{ Customer.CompanyName }}, conformément au mandat de facturation signé au profit de Printbox</div>

    <div>TVA intra de Printbox : FR32422843797</div>

</div>
