{% extends "resources/mandate.twig" %}

{% block custom_fields_1 %}
    <div class="block w100">{% trans "Representant legal" %}</div><!--
    --><div class="block blank w300"></div>

    <br />
    <div class="block w100">{% trans "Code fiscal" %}</div><!--
    --><div class="block blank w300"></div>

    <br />

    <div class="block w100">{% trans "Votre Adresse" %}</div><!--
    --><div class="block blank w300">{{ Customer.Adress1 }}</div><br />
    <div class="block blank w300 ml100">{{ Customer.Adress2 }}</div><br />

    <br />
{% endblock %}

{% block siret %}
<div class="block w100">{% trans "P.IVA" %}</div>
{% set VATId = Customer.VATId ~ "" %}
<div class="block blue"><!--
--><div class="rect">{{ VATId|slice(0, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(1, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(2, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(3, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(4, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(5, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(6, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(7, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(8, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(9, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(10, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(11, 1) }}</div><!--
--><div class="rect">{{ VATId|slice(12, 1) }}</div><!--
--><div class="rect final">{{ VATId|slice(13, 1) }}</div>
</div>

<br />
{% endblock %}