<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/invoice.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/invoice-statements.css"/>
</head>
<body>
<div id="page">
    <div id="customer">
        {% block customer_address %}
            <address>
                <strong>{{ Customer.CompanyName }}</strong><br/>
                {{ Customer.Adress1 }}<br/>
                {% if (Customer.Adress2 != '') %}
                    {{ Customer.Adress2 }}<br/>
                {% endif %}
                {{ Customer.PostalCode }} {{ Customer.City }}<br/>
                {{ Customer.Country }}
            </address>
        {% endblock %}
        {% block customer_details %}
            <dl class="details">
                <dt>{% trans "Votre Code Client" %}</dt>
                <dd>{{ Customer.CustomerCode }}</dd>
                <dt>{% trans "Numero TVA Intracom." %}</dt>
                <dd>{{ Customer.VATId }}</dd>
            </dl>
        {% endblock %}
    </div>
    <div id="main">
        <h1>Relevé de factures {{ Month }}/{{ Year }}</h1>
        <table class="lines">
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Référence</th>
                <th>Date</th>
                <th>Montant HT</th>
                <th>Montant TVA</th>
                <th>Montant TTC</th>
            </tr>
            </thead>
            <tbody>
            {% for i, Line in Invoices %}
                <tr>
                    <td>
                        <a href="http://www.exaprint.fr/telecharger-facture/{{ Line.InvoiceID }}">
                            {{ Line.InvoiceNumber }}
                        </a>
                    </td>
                    <td>{{ Line.Reference }}</td>
                    <td class="date">{{ Line.InvoiceDate|date('d/m/Y') }}</td>
                    <td class="money">{{ Line.ETAmount|number_format(2, ',', ' ') }}<span class="currency">&euro;</span>
                    </td>
                    <td class="money">{{ Line.VATAmount|number_format(2, ',', ' ') }}<span
                                class="currency">&euro;</span></td>
                    <td class="money">{{ Line.ATIAmount|number_format(2, ',', ' ') }}<span
                                class="currency">&euro;</span></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>{{ InvoicesSums.et|number_format(2, ',', ' ') }}<span class="currency">&euro;</span></td>
                <td>{{ InvoicesSums.vat|number_format(2, ',', ' ') }}<span class="currency">&euro;</span></td>
                <td>{{ InvoicesSums.ati|number_format(2, ',', ' ') }}<span class="currency">&euro;</span></td>
            </tr>
            </tfoot>
        </table>
        <h2>Avoirs</h2>
        <table class="lines">
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Référence</th>
                <th>Date</th>
                <th>Montant HT</th>
                <th>Montant TVA</th>
                <th>Montant TTC</th>
            </tr>
            </thead>
            <tbody>
            {% for i, Line in Credits %}
                <tr>
                    <td>
                        <a href="http://www.exaprint.fr/telecharger-facture/{{ Line.InvoiceID }}">
                        {{ Line.InvoiceNumber }}
                        </a>
                    </td>
                    <td>{{ Line.Reference }}</td>
                    <td class="date">{{ Line.InvoiceDate|date('d/m/Y') }}</td>
                    <td class="money">{{ Line.ETAmount|number_format(2, ',', ' ') }}<span class="currency">&euro;</span>
                    </td>
                    <td class="money">{{ Line.VATAmount|number_format(2, ',', ' ') }}<span
                                class="currency">&euro;</span></td>
                    <td class="money">{{ Line.ATIAmount|number_format(2, ',', ' ') }}<span
                                class="currency">&euro;</span></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>{{ CreditsSums.et|number_format(2, ',', ' ') }}<span class="currency">&euro;</span></td>
                <td>{{ CreditsSums.vat|number_format(2, ',', ' ') }}<span class="currency">&euro;</span></td>
                <td>{{ CreditsSums.ati|number_format(2, ',', ' ') }}<span class="currency">&euro;</span></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>