<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/invoice.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/invoice-statements.css"/>
</head>
<body>
<div id="page">
    <div id="customer">
        {% block customer_address %}
            <address>
                <strong>{{ Customer.CompanyName }}</strong><br/>
                {{ Customer.Adress1 }}<br/>
                {% if (Customer.Adress2 != '') %}
                    {{ Customer.Adress2 }}<br/>
                {% endif %}
                {{ Customer.PostalCode }} {{ Customer.City }}<br/>
                {{ Customer.Country }}
            </address>
        {% endblock %}
    </div>
    <div id="main">
        <h1 class="date">{{ Month }}/{{ Year }}</h1>

        <h1>{% trans "Releve" %}</h1>


        <dl class="details">
            <dt>{% trans "Votre Code Client" %}</dt>
            <dd>{{ Customer.CustomerCode }}</dd>
            <dt>{% trans "Numero TVA Intracom." %}</dt>
            <dd>{{ Customer.VATId }}</dd>
        </dl>

        <h2>{% trans "Factures" %}</h2>
        <table class="lines">
            <thead>
            <tr>
                <th>{% trans "Numero de facture" %}</th>
                <th>{% trans "Reference" %}</th>
                <th>{% trans "Reference de commande" %}</th>
                <th>{% trans "Date de facture" %}</th>
                <th>{% trans "Date de commande" %}</th>
                <th>{% trans "Montant H.T." %}</th>
                <th>{% trans "Montant TVA" %}</th>
                <th>{% trans "Montant TTC" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for i, Line in Invoices %}
                <tr>
                    <td>
                        <a href="http://www.exaprint.fr/telecharger-facture/{{ Line.InvoiceID }}">
                            {{ Line.InvoiceNumber }}
                        </a>
                    </td>
                    <td>{{ Line.Reference }}</td>
                    <td>{{ Line.OrderReference }}</td>
                    <td class="date">{{ Line.InvoiceDate|date('d/m/Y') }}</td>
                    <td class="date">{{ Line.OrderDate|date('d/m/Y') }}</td>
                    <td class="money">{{ Line.ETAmount|formatmoney  }}</td>
                    <td class="money">{{ Line.VATAmount|formatmoney  }}</td>
                    <td class="money">{{ Line.ATIAmount|formatmoney  }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5"></td>
                <td>{{ InvoicesSums.et|formatmoney  }}</td>
                <td>{{ InvoicesSums.vat|formatmoney  }}</td>
                <td>{{ InvoicesSums.ati|formatmoney  }}</td>
            </tr>
            </tfoot>
        </table>
        {% if CreditsSums.ati > 0 %}
            <h2>{% trans "Avoirs" %}</h2>
            <table class="lines">
                <thead>
                <tr>
                    <th>{% trans "Numero de facture" %}</th>
                    <th>{% trans "Reference" %}</th>
                    <th>{% trans "Date de facture" %}</th>
                    <th>{% trans "Montant H.T." %}</th>
                    <th>{% trans "Montant TVA" %}</th>
                    <th>{% trans "Montant TTC" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for i, Line in Credits %}
                    <tr>
                        <td>
                            <a href="http://www.exaprint.fr/telecharger-facture/{{ Line.InvoiceID }}">
                                {{ Line.InvoiceNumber }}
                            </a>
                        </td>
                        <td>{{ Line.Reference }}</td>
                        <td class="date">{{ Line.InvoiceDate|date('d/m/Y') }}</td>
                        <td class="money">{{ Line.ETAmount|formatmoney  }}</td>
                        <td class="money">{{ Line.VATAmount|formatmoney  }}</td>
                        <td class="money">{{ Line.ATIAmount|formatmoney  }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>{{ CreditsSums.et|formatmoney  }}</td>
                    <td>{{ CreditsSums.vat|formatmoney  }}</td>
                    <td>{{ CreditsSums.ati|formatmoney  }}</td>
                </tr>
                </tfoot>
            </table>
        {% endif %}
        <div id="net-amount-due">
            <h2>{% trans "Net a payer" %}</h2>
            <p>{{ NetAmountDue|formatmoney  }}</p>
        </div>
    </div>
    <div><img src="/static/assets/fr_FR/footer.svg" alt="footer" style="width:100%;" /></div>
</div>
</body>
</html>