{% extends "resources/base.twig" %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css"/>
    <link rel="stylesheet/less" type="text/css" href="/static/less/order-receipt.less"/>
    <script type="text/javascript">
        less = {
            env: "development", // or "production"
            async: false,       // load imports async
            fileAsync: false   // load imports async when in a page under
        };
    </script>
    <script src="/static/js/less-1.3.3.min.js" type="text/javascript"></script>
{% endblock %}

{% block page %}
    <h1>{% trans "merci de votre commande" %}</h1>
    <div id="subtitle">{% trans "accuse de reception de commande" %}</div>

    <div id="delivery">
        <h2>{% trans "Commande livrée à : " %}</h2>

        <p>{{ delivery.recipient }}</p>

        <p>{{ delivery.contact_name }}</p>

        <p> {{ delivery.address.line1 }}<br/>
            {% if delivery.address.line2 is not empty %}{{ delivery.address.line2 }}<br/>{% endif %}
            {% if delivery.address.line3 is not empty %}{{ delivery.address.line3 }}<br/>{% endif %}
            {{ delivery.address.post_code }}
            {{ delivery.address.city }}</p>

        <p>{{ delivery.country }}</p>

        <blockquote>
            {{ delivery.comments }}
        </blockquote>
    </div>
    <div id="client">
        <h2>{% trans "Client" %}</h2>
        <dl class="details">
            <dt>{% trans "Raison Sociale" %}</dt>
            <dd>{{ client.company_name }}</dd>
            <dt>{% trans "Contact" %}</dt>
            <dd>
                {% set fullname = [client.contact_forename, ' ', client.contact_name]|join %}

                {% if client.civility == 1 %}
                    {% trans "Mlle" %}
                {% elseif client.civility == 2 %}
                    {% trans "Mme" %}
                {% elseif client.civility == 3 %}
                    {% trans "Mr" %}
                {% elseif client.civility == 4 %}
                    {% trans "Ms" %}
                {% elseif client.activity != 0 %}
                    {{ client.civility }}
                {% endif %}

                {% if client.contact_forename|capitalize not in client.contact_name|capitalize %}
                    {{ fullname }}
                {% else %}
                    {{ client.contact_name }}
                {% endif %}
            </dd>
            {% if client.id_tva %}
                <dt>{% trans "Numero TVA" %}</dt>
                <dd>{{ client.id_tva }}</dd>
            {% endif %}
        </dl>
    </div>
    <hr/>
    {% set total_quantity = order.quantity %}
    <div id="product">
        <h2>{% trans "Descriptif : " %}</h2>
        {% if partner.is_partner != 0 %}
            {% if partner.id != 5 %}
                {% set total_quantity = partner.data.quantity %}
            {% endif %}
            {% include 'resources/order-receipt-subview/details-partner.twig' %}
        {% elseif partner.is_timbroshop != 0 %}
            {% set total_quantity = partner.data.quantity %}
            {% include 'resources/order-receipt-subview/details-timbroshop.twig' %}
        {% else %}
            {% include 'resources/order-receipt-subview/details-base.twig' %}
        {% endif %}
        <p>&nbsp;</p>
    </div>

    <div id="order">
        <h2>{% trans "Commande" %}</h2>
        <dl>
            <dt>{% trans "Numero de commande" %}</dt>
            <dd>{{ order.id }}</dd>

            {% if order.devis_id %}
                <dt>{% trans "Numero de devis" %}</dt>
                <dd>{{ order.devis_id }}</dd>
            {% endif %}

            <dt>{% trans "Reference commande" %}</dt>
            <dd>{{ order.reference }}</dd>

            <dt>{% trans "Poids" %}</dt>
            <dd>{{ product.weight /1000 }} kg</dd>

            {% if order.devis_id %}
                <dt>{% trans "Reference devis" %}</dt>
                <dd>{{ order.devis_reference }}</dd>
            {% endif %}

            <dt>{% trans "Delai production" %}</dt>
            <dd>{{ order.lead_time }} {% trans "Unite Jours" %}</dd>

            <dt>{% trans "Date" %}</dt>
            <dd>{{ order.creation_date|date('d/m/Y') }}</dd>

            <dt>{% trans "Mode de reglement" %}</dt>
            <dd>{{ order.regulation }}</dd>

            {% if agent.id %}
                <dt>{% trans "Responsable du dossier" %}</dt>
                <dd>{{ agent.forename }} {{ agent.name }}</dd>
            {% endif %}
        </dl>

        <table>
            <thead>
            <tr>
                <th></th>
                <th>{% trans "Quantite" %}</th>
                <th>{% trans "HT" %}</th>
                <th>{% trans "TVA" %}
                    <small>{{ project.tva|formatnumber }}%</small>
                </th>
                <th>{% trans "TTC" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td class="number">{{ total_quantity }} {{ order.unit.abbr }}</td>
                <td class="money">{{ product.et_amount|formatmoney }}</td>
                <td class="money">{{ product.vat_amount|formatmoney }}</td>
                <td class="money">{{ product.ati_amount|formatmoney }}</td>
            </tr>
            {% for i, fee in order.fees %}
                {% if fee.id %}
                    <tr>
                        <td>{{ fee.type }}</td>
                        <td class="number">{{ fee.quantity }}</td>
                        <td class="money">{{ fee.et_amount|formatmoney }}</td>
                        <td class="money">{{ fee.vat_amount|formatmoney }}</td>
                        <td class="money">{{ fee.ati_amount|formatmoney }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr class="bold theme-color">
                <td>{% trans "Total" %}</td>
                <td></td>
                <td class="money">{{ project.et_amount|formatmoney }}</td>
                <td class="money">{{ project.vat_amount|formatmoney }}</td>
                <td class="money">
                    <strong>{{ project.ati_amount|formatmoney }}</strong>
                </td>
            </tr>
            </tbody>
        </table>

        <dl>
            <dt>{% trans "Solde" %}</dt>
            <dd>{{ order.balance|formatmoney }}</dd>
        </dl>

        {% block pefc %}{% endblock %}

        <hr>

        <div class="mb1cm"></div>

        {% block stickersrollers %}{% endblock %}

        <div id="mentions">
            {% block mentions %}{% endblock %}
        </div>
    </div>
{% endblock %}